.cardContainer {
  padding: 0 !important;
}

.widgetCard {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  box-shadow: 0.1em 0.1em 0.25em 0.1em lightgray;
  border: 1px solid lightgrey;
  background-color: grey;
  min-height: 15em;
  transition: border 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  &:hover {
    cursor: pointer;
    border: 10px solid whitesmoke;
    box-shadow: none;
    z-index: 1;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  border-bottom: rgb(222, 241, 222) 1em solid;
  color: black;
  transform: rotateY(180deg);
}
