.imgContainer {
  border: 0.15em solid lightgrey;
  background-color: rgb(222, 241, 222);
  width: 4em;
  height: 4em;
  margin: 0.25em auto 0.5em;
  border-radius: 100em;
}

.shortInfo {
  padding: 0.5em 1.5em 0.25em 0.5em;
  border-left: 0.5em solid rgb(222, 241, 222);
  p {
    //font-size: .5em;
  }
  h4 {
    //font-size: .75em !important;
  }
}
