.dummyStyle {
  //background-color: whitesmoke;
  //border: grey 2px solid;
  //box-shadow: 0.1em 0.1em 0.25em 0.1em whitesmoke;
  //border: 1px solid whitesmoke;
}

.listDummyStyle {
  width: 100%;
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  //border: 1px solid whitesmoke;
  border-right: none;
}

.listDummyStyle li {
  padding: 0.5em;
  font-weight: 600;
  transition: all 0.15s linear;
  &:hover {
    border-left: 4em solid #00d1b2;
    font-weight: 700;
    cursor: pointer;
  }
}
