.dummyStyle {
  //background-color: whitesmoke;
  //border: grey 2px solid;
  //box-shadow: 0.1em 0.1em 0.25em 0.1em whitesmoke;
  //border: 1px solid whitesmoke;
}

.listDummyStyle {
  width: 100%;
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  //border: 1px solid whitesmoke;
  border-right: none;
}

.listDummyStyle {
  padding: 0.5em;
}
